<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN"> <!-- This line is about how Log4J logs about itself.-->

  <Properties>
      
    <!-- This line controls our app level logging.
      It says to use the sys envvar first, then whatever is here second.-->
    <Property name="ROOT_LEVEL">${sys:LOG_LEVEL:-DEBUG}</Property>
      
    <Property name="APP_NAME_PROP">${sys:APP_NAME:-dptu}</Property>
    
    <!-- If -DLOG_DIR is set, use that. Otherwise default to {user.dir}/logs -->
    <Property name="LOG_DIR_PROP">${sys:LOG_DIR:-${sys:user.dir}/logs}</Property>
    
  </Properties>

  <Appenders>
    <Console name="Console">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
    </Console>

    <RollingFile name="File"
      fileName="${LOG_DIR_PROP}/${APP_NAME_PROP}.log"
      filePattern="${LOG_DIR_PROP}/${APP_NAME_PROP}-%d{yyyy-MM-dd}-%i.log.gz"
      append="true">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n%throwable"/>
      <Policies>
        <!-- rotate daily -->
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <!-- also rotate if file exceeds ~10MB in the same day -->
        <SizeBasedTriggeringPolicy size="10MB"/>
      </Policies>
      <!-- keep up to X archived files (older will be deleted) -->
      <DefaultRolloverStrategy max="14"/>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Root level="${ROOT_LEVEL}">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
 
</Configuration>