<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">

  <Properties>
    <Property name="APP_NAME">${sys:APP_NAME:-dptu}</Property>
    <Property name="LOG_DIR">${sys:user.dir}/logs</Property>
    <Property name="ROOT_LEVEL">${sys:LOG_LEVEL:-INFO}</Property>
  </Properties>

  <Appenders>
    <Console name="Console">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
    </Console>

    <RollingFile name="File"
      fileName="${LOG_DIR}/${APP_NAME}"
      filePattern="${LOG_DIR}/${APP_NAME}-%d{yyyy-MM-dd}-%i.log.gz"
      append="true">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n%throwable"/>
      <Policies>
        <!-- rotate daily -->
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <!-- also rotate if file exceeds ~10MB in the same day -->
        <SizeBasedTriggeringPolicy size="10MB"/>
      </Policies>
      <!-- keep up to X archived files (older will be deleted) -->
      <DefaultRolloverStrategy max="14"/>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Root level="${ROOT_LEVEL}">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
 
</Configuration>