<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">

  <Properties>
    <Property name="APP_NAME">dptu</Property>
    <Property name="LOG_DIR">${sys:user.home}/.${APP_NAME}/logs</Property>
    <Property name="ROOT_LEVEL">${sys:LOG_LEVEL:-INFO}</Property>
  </Properties>

  <Appenders>
    <Console name="Console">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p [%t] %c{1.} - %m%n"/>
    </Console>

    <RollingFile name="File"
      fileName="${sys:LOG_DIR:-${sys:user.dir}/logs}/dptu.log"
      filePattern="${sys:LOG_DIR:-${sys:user.dir}/logs}/dptu-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1.} - %m%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="14"/>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Root level="${ROOT_LEVEL}">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
  
</Configuration>